// src/components/Header/Header.scss

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
     background: linear-gradient(109deg, #176987 1.67%, #D8F3FF 45.85%, #BCDBDD 96.56%);
    padding: 0;
    max-width: 100vw;
    
    &.scrolled {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }
  
  .header_container {
      padding: 8px 16px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: 768px) {
      width: 100%;
      padding: 8px 10px;
    }
  }
  
  .header_name {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .header_name a {
    text-decoration: none;
    color: inherit;
  }
  
  .name-container {
    display: flex;
    flex-direction: column;
  }
  
  .first-name {
    font-size: 20px;
    color: var(--primary-text-color);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.4px;
    text-transform: capitalize;
  }
  
  .last-name {
    font-size: 36px;
    color: var(--bolt-primary-text-color);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.72px;
  }
  
  .tooltip-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 12px;
    cursor: help;
    margin-top: 36px;
    margin-left: 14px;
  }
  
  .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(207, 236, 244, 0.8);
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.3px;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
    white-space: normal;
    max-width: 100%;
    z-index: 100;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .tooltip::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
  }
  
  .nav-menu {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        margin: 0 15px;
        color: #fff;
        cursor: pointer;
        position: relative;
        
        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: var(--primary-text-color);
          transition: width var(--transition-speed);
        }
        
        &:hover:after {
          width: 100%;
        }
      }
    }
    

  }
  
  .telegram-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s ease;
    
    &:hover {
      background-color: #fff;
      color: #000;
    }
    
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  /* Burger Menu Positioning */
  .burger-menu-container {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
    @media (max-width: 768px) {
      display: block;
    }
  }
  
// header name component
